.idea
/out/production/JavaCrashCourse/com/aditya/GenericsTest/GenericExampleClass.class
/out/production/JavaCrashCourse/com/aditya/GenericsTest/GenericTester.class
/out/production/JavaCrashCourse/com/aditya/GenericsTest/InterfaceDemo.class
/out/production/JavaCrashCourse/com/aditya/ScopeTest.class
/out/production/JavaCrashCourse/com/aditya/InterfaceDemo2.class
